@model IEnumerable<Dominio.Developer>

<div class="text-center" style="padding-top: 15px; padding-bottom: 10px;">
    <h1 style="color: #333A73; font-weight: bold; font-size: 2.5rem; margin-bottom: 20px;">Developer</h1>
</div>

@if (Model.Count() == 0)
{
    <div style="text-align: center;">
        <p>No developers exist</p>
    </div>
}
else
{
    <div class="table-responsive" style="padding-top: 20px; padding-bottom: 20px;">
        <table class="table-custom">
            <thead>
                <tr>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Leader</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Dominio.Developer d in Model)
                {
                    <tr>
                        <td>@d.Name @d.LastName</td>
                        <td>@d.Email</td>
                        <td>@d.Leader.Name @d.Leader.LastName</td>
                        <td>@d.Active</td>
                        <td>                           
                            <a href="@Url.Action("EditDeveloper", "Home", new { id = d.Id })" class="btn-custom btn-primary">Edit</a>
                            <a href="@Url.Action("DeleteDeveloper", "Home", new { id = d.Id })" class="btn-custom btn-secondary">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<div class="text-center mt-3" style="padding-top: 20px; padding-bottom: 20px;">
    <a href="@Url.Action("CreateDeveloper", "Home")" class="btn-custom btn-tertiary" style="padding: 10px 20px;">Create developer</a>
</div>
