@model IEnumerable<Dominio.Leader>
    
<h1>Leaders</h1>
@if (Model.Count() == 0)
{
    <p>No existen lideres</p>
}
else
{  
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre y Apellido</th>     
                    <th>Email</th>                    
                    <th>Cliente</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (Dominio.Leader l in Model)
            {
                <tbody>
                    <tr>
                        <td>@l.Name @l.LastName</td>                        
                        <td>@l.Email</td>                       
                        <td>@l.Client.Name</td>
                         <td>@l.Active</td>
                        <td>
                            @Html.ActionLink("Editar", "EditLeader", "Home", new { id = l.Id })
                        </td>
                    </tr>
                </tbody>
            }
        </table>       
    </div>    
}
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateLeader">Crear lider</a>
<p>@ViewBag.Mensaje</p>