@model IEnumerable<Dominio.DTO.LeaderDTO>

<div class="text-center" style="padding-top: 15px; padding-bottom: 10px;">
    <h1 style="color: #333A73; font-weight: bold; font-size: 2.5rem; margin-bottom: 20px;">Leaders</h1>
</div>

@if (Model.Count() == 0)
{
    <p>No existen lideres</p>
}
else
{
    <div class="table-responsive" style="padding-top: 20px; padding-bottom: 20px;">
        <table class="table-custom">
            <thead>
                <tr>
                    <th>Nombre y Apellido</th>     
                    <th>Email</th>                    
                    <th>Cliente</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (Dominio.DTO.LeaderDTO l in Model)
            {
                <tbody>
                    <tr>
                        <td>@l.Name @l.LastName</td>                        
                        <td>@l.Email</td>                       
                        <td>@l.Client.Name</td>
                         <td>@l.Active</td>
                        <td>
                            <a href="@Url.Action("EditLeader", "Home", new { id = l.Id })" class="btn-custom btn-primary">Editar</a>
                            <a href="@Url.Action("DeleteLeader", "Home", new { id = l.Id })" class="btn-custom btn-secondary">Eliminar</a>
    
                        </td>
                    </tr>
                </tbody>
            }
        </table>       
    </div>    
}
<div class="text-center mt-3" style="padding-top: 20px; padding-bottom: 20px;">
    <a href="@Url.Action("CreateLeader", "Home")" class="btn-custom btn-tertiary" style="padding: 10px 20px;">Crear cliente</a>
</div>
<p>@ViewBag.Mensaje</p>