@model IEnumerable<Dominio.Position>

<h1>Posiciones</h1>
@if (Model.Count() == 0)
{
    <p>No existen Envios</p>
}
else
{
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Developer</th>
                    <th>Cliente</th>
                    <th>Lider</th>
                    <th>Position</th>
                    <th>Recurrencia</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (Dominio.Position p in Model)
            {
                <tbody>
                    <tr>
                        <td>@p.Developer.Name @p.Developer.LastName </td>
                        <td>@p.Developer.Leader.Client.Name</td>
                        <td>@p.Developer.Leader.Name @p.Developer.Leader.LastName</td>
                        <td>@p.Description</td>
                        <td>@p.Recurrence</td>
                        <td>
                            @Html.ActionLink("Edit", "EditPosition", new { id = p.Id }) |
                            @Html.ActionLink("Enviar email", "SendEmail", new { id = p.Id }) |
                            @Html.ActionLink("Borrar", "DeletePosition", "Home", new { id = p.Id })
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
}
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreatePosition">Crear posicion</a>