@model IEnumerable<Dominio.Position>

<div class="text-center" style="padding-top: 15px; padding-bottom: 10px;">
    <h1 style="color: #333A73; font-weight: bold; font-size: 2.5rem; margin-bottom: 20px;">Posiciones</h1>
</div>
@if (Model.Count() == 0)
{
    <p>No existen Envios</p>
}
else
{
    <div class="table-responsive" style="padding-top: 20px; padding-bottom: 20px;">
        <table class="table-custom">
            <thead>
                <tr>
                    <th>Developer</th>
                    <th>Cliente</th>
                    <th>Lider</th>
                    <th>Position</th>
                    <th>Recurrencia</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (Dominio.Position p in Model)
            {
                <tbody>
                    <tr>
                        <td>@p.Developer.Name @p.Developer.LastName </td>
                        <td>@p.Developer.Leader.Client.Name</td>
                        <td>@p.Developer.Leader.Name @p.Developer.Leader.LastName</td>
                        <td>@p.Description</td>
                        <td>@p.Recurrence</td>
                        <td>
                            <a href="@Url.Action("EditPosition", "Home", new { id = p.Id })" class="btn-custom btn-primary">Editar</a>
                            <a href="@Url.Action("SendEmail", "Home", new { id = p.Id })" class="btn-custom btn-secondary">Enviar email</a>
                            <a href="@Url.Action("DeletePosition", "Home", new { id = p.Id })" class="btn-custom btn-secondary">Eliminar</a>             

                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
}
<div class="text-center mt-3" style="padding-top: 20px; padding-bottom: 20px;">
    <a href="@Url.Action("CreatePosition", "Home")" class="btn-custom btn-tertiary" style="padding: 10px 20px;">Crear cliente</a>
</div>